<% provide(:title, 'Home') %>
<p>This is where the content will eventually go.</p>
<ul>
	<li>List Item One</li>
	<li>List Item Two</li>
	<li>List Item Three</li>
</ul>
<footer><a href="www.google.com">Find stuff on Google</a></footer>